absl-py==1.4.0
#aclruntime @ git+https://gitee.com/ascend/tools.git@97624d0ec45d2f4551d5a2c0047c488a4ecb4e2c#subdirectory=ais-bench_workload/tool/ais_bench/backend
#ais-bench @ git+https://gitee.com/ascend/tools.git@ca003d1e37675c6bfcc536759a4ee9f6329520a1#subdirectory=ais-bench_workload/tool/ais_bench
anykeystore==0.2
asttokens==2.2.1
attrs==22.2.0
#auto-tune @ file:///root/selfgz909223199/compiler/lib64/auto_tune-0.1.0-py3-none-any.whl
backcall==0.2.0
#cachetools==5.3.0
#certifi @ file:///croot/certifi_1671487769961/work/certifi
cffi==1.16.0
charset-normalizer==3.0.1
coloredlogs==15.0.1
contourpy==1.0.7
cryptacular==1.6.2
cryptography==42.0.7
cycler==0.11.0
DBUtils==1.3
decorator==5.1.1
defusedxml==0.7.1
elasticsearch==7.6.0
executing==1.2.0
flatbuffers==23.1.21
fonttools==4.38.0
google-auth==2.16.0
google-auth-oauthlib==0.4.6
greenlet==2.0.2
grpcio==1.51.1
#hccl @ file:///root/selfgz909223199/compiler/lib64/hccl-0.1.0-py3-none-any.whl
#hccl-parser @ file:///usr/local/Ascend/ascend-toolkit/6.0.0.alpha006/toolkit/tools/hccl_parser-0.1-py3-none-any.whl
humanfriendly==10.0
hupper==1.11
idna==3.4
imagesize==1.4.1
importlib-metadata==6.0.0
ipython==8.10.0
jedi==0.18.2
kiwisolver==1.4.4
Markdown==3.4.1
markdown-it-py==2.1.0
MarkupSafe==2.1.2
matplotlib==3.6.3
matplotlib-inline==0.1.6
mdurl==0.1.2
mpmath==1.2.1
numpy==1.24.2
oauthlib==3.2.2
onnx==1.12.0
onnx-simplifier==0.4.17
onnxruntime==1.14.0
onnxsim==0.4.17
#op-gen @ file:///usr/local/Ascend/ascend-toolkit/6.0.0.alpha006/toolkit/tools/op_gen-0.1-py3-none-any.whl
#op-test-frame @ file:///usr/local/Ascend/ascend-toolkit/6.0.0.alpha006/toolkit/tools/op_test_frame-0.1-py3-none-any.whl
#opc-tool @ file:///root/selfgz909223199/compiler/lib64/opc_tool-0.1.0-py3-none-any.whl
opencv-python==4.7.0.68
packaging==23.0
pandas==1.5.3
parso==0.8.3
PasteDeploy==3.0.1
pbkdf2==1.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
plaster==1.1.2
plaster-pastedeploy==1.0.1
prompt-toolkit==3.0.36
protobuf==3.20.1
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.6
pycparser==2.22
Pygments==2.14.0
PyMySQL==1.0.3
pyparsing==3.0.9
pyramid==2.0.1
pyramid-mailer==0.15.1
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2022.7.1
PyYAML==6.0
repoze.sendmail==4.4.1
requests==2.28.2
requests-oauthlib==1.3.1
rich==13.3.1
rsa==4.9
#schedule-search @ file:///root/selfgz909223199/compiler/lib64/schedule_search-0.1.0-py3-none-any.whl
scipy==1.10.0
seaborn==0.12.2
six==1.16.0
SQLAlchemy==1.4.46
stack-data==0.6.2
supervisor==4.2.5
sympy==1.11.1
#te @ file:///root/selfgz909223199/compiler/lib64/te-0.4.0-py3-none-any.whl
tensorboard==2.12.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
thop==0.1.1.post2209072238
#torch @ file:///home/deployer/package/torch-1.10.1%2Bcpu-cp38-cp38-linux_x86_64.whl
#torchvision @ file:///home/deployer/package/torchvision-0.11.2%2Bcpu-cp38-cp38-linux_x86_64.whl
tqdm==4.64.1
traitlets==5.9.0
transaction==3.0.1
translationstring==1.4
typing_extensions==4.4.0
ultralytics==8.2.11
urllib3==1.26.14
velruse==1.1.1
venusian==3.0.0
wcwidth==0.2.6
WebOb==1.8.7
Werkzeug==2.2.2
WTForms==3.0.1
wtforms-recaptcha==0.3.2
zipp==3.13.0
zope.deprecation==4.4.0
zope.interface==5.5.2
zope.sqlalchemy==2.0
